#home-page {
    ion-content {
        &::part(content) {
            display: none;
            --background: #ffffff;
        }
    }

    .announcement-bar {
        background-color: #f8e1e7;
        color: #b3002d;
        text-align: center;
        padding: 10px 0;
        font-weight: bold;
        font-size: 14px;
    }


}